<div id="todo_list">
  {% for todo in todos %}
    <div class="card">
        <div class="card-header">
            {{todo["Title"]}}
                {% with delete_modal_id="delete_task_"+(todo['id']|string) %}
                  <div class="delete_task_panel">
                    {% set delete_modal_target="#"+delete_modal_id %}
                    {% set id=todo["id"] %}
                    <button type="button" style="float:right; opacity:70%;"
                            class="btn btn-danger" data-toggle="modal" name={{delete_modal_id}}
                            value={{id}} data-target={{delete_modal_target}} onclick="event.preventDefault();return false;">
                        Delete task
                    </button>
                    {% include "todo_page/delete_task.html" %}
                  </div>
                {% endwith %}

                <button type="button" style="float:right; opacity:70%;"
                        class="btn btn-primary" data-toggle="modal" data-target="#edit_task_modal">
                    Edit task
                </button>

                <!-- Modal form to edit tasks -->
                {% with modal_type="edit_task_modal", message="Edit" %}
                  {% include "todo_page/modal_form.html" %}
                {% endwith %}
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {% for tag in todo["Tag"] %}
                    <span class="badge badge-primary">{{tag}}</span>
                {% endfor %}
                {% if todo["Days left"]|length > 0 %}
                    <span class="badge badge-light">{{todo["Days left"]}}</span>
                {% endif %}
            </h5>
            <hr/>
            {% if todo["Start date"] != None %}
                <p>Start date: {{todo["Start date"]}}</p>
            {% endif %}
            {% if todo["Due date"] != None %}
                <p>Due date: {{todo["Due date"]}}</p>
            {% endif %}
            <hr/>
            <p class="card-text">{{todo["Body"]}}</p>
         </div>
    </div>
    <br/>
  {% endfor %}
</div>
